@font-face {
  font-family: "Bebas";
  src: url("./fonts/bebas_neue/BebasNeue-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff")
      format("woff");
}

@font-face {
  font-family: "Tasa";
  src: url("./fonts/tasa/TASAExplorer-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tasa-Semi";
  src: url("./fonts/tasa/TASAExplorer-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tasa-Bold";
  src: url("./fonts/tasa/TASAExplorer-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Poppins";
  line-height: 1.5;
  font-weight: 400;

  touch-action: manipulation;

  scroll-behavior: smooth;
  overflow-x: hidden;
  overscroll-behavior: none;

  background-color: #ffffff;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #00000092;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
